
#cuerpo{
  border: 2px black solid;
  background-color: yellow;
  width: 500PX;
  display: block;
  margin: auto;
}
h1{
  border: 1px black solid;
  background-color: black;
  color: white;
  width: 449px;
  padding-left: 124px;
  margin-left: 12px;
  margin-right: 0px;
  padding-left: 5px;
  padding-right: 0px;
}
p{
  font-weight: bolder;
  font-size: 20px;
  margin-left: 12px;
}
.fin{
  text-align: center;
}
